body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover
}

.buton {
  color: white;
  background-color: black;
  position: absolute;
  top: 21em;
  bottom: 33.8em;
  left: 1.8em;
}
.obrigado {
  flex-basis: 20%;
  background-color: #1d1c1c;
  color: rgb(225, 225, 225);
  padding: 2px;
  margin: 5px;
  border-radius: 8px;
}

