footer {
    background-color: rgba(0, 0, 0, 0.199); 
    color: #fff; 
    text-align: center; 
    padding: 20px;  
    bottom: 0;
    width: 100%;
    margin-top: 20px; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); 
    font-family: Arial, sans-serif;
    position: fixed;
  }
  
  footer p {
    margin: 0; 
  }
  