.conteinerGeralExcursoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
.conteinerGeralExcursoes h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para o formulário */


